<footer class="page__footer">
  <div class="page__footer-follow">
    <ul class="social-icons">
      <li><a href="https://www.instagram.com/detailing_pureshine_elblag?fbclid=IwY2xjawMTHT5leHRuA2FlbQIxMABicmlkETE0bENVUHV1T0kyaGN6MUQ4AR5lbWK6QyfSKm4Kvv-ednqUAl5qntj5YOwUZYwYvBHkJzIXexSv-DZ9jKcIsg_aem_POtAQWOLXHE4M5E3FJlM4Q" rel="nofollow noopener noreferrer">
        <i class="fab fa-instagram"></i> Instagram
      </a></li>
      <li><a href="https://www.facebook.com/p/Pure-Shine-Elbl%C4%85g-61562244935278/" rel="nofollow noopener noreferrer">
        <i class="fab fa-facebook"></i> Facebook
      </a></li>
      <li><a href="tel:+48606860617">
        <i class="fas fa-phone"></i> Telefon
      </a></li>
    </ul>
  </div>
</footer>

