<footer class="page__footer" style="padding:0.6rem 0; font-size:0.8em;">
  <div class="wrap" style="display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; gap:1rem;">

    <!-- SOCIAL -->
    <div class="footer-social">
      <a href="https://www.instagram.com/detailing_pureshine_elblag" rel="nofollow noopener noreferrer" target="_blank" style="margin-right:1rem;">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://www.facebook.com/p/Pure-Shine-Elbl%C4%85g-61562244935278/" rel="nofollow noopener noreferrer" target="_blank" style="margin-right:1rem;">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="tel:+48606860617">
        <i class="fas fa-phone"></i> Zadzwoń do nas
      </a>
    </div>

    <!-- COPYRIGHT -->
    <div class="footer-copy" style="opacity:0.7;">
      © {{ site.time | date: '%Y' }} PureShine AutoDetailing. Wszelkie prawa zastrzeżone.
    </div>

  </div>
</footer>
